/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    color: #000000;
}

/* Centered Card */
.container {
    padding: 30px 40px;
    border-radius: 16px;
    text-align: center;
    width: 350px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    backdrop-filter: blur(12px);
}

h1 {
    margin-bottom: 20px;
    font-size: 26px;
}

#time {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

/* Buttons aligned in grid */
.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-bottom: 20px;

;
}

button {
    padding: 12px;
    border-radius: 8px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s ease;
    border: 3px solid;
    border-color: black
}
button:disabled {
    opacity: 0.3;
    cursor: not-allowed;
}

#startBtn { background: #304524; color: #fff; }
#pauseResumeBtn { background: #7d5d4e; color: #fff; }
#lapBtn { background: #372e27; color: #fff; }
#resetBtn { background: #a23d3d; color: #fff; }

button:hover:not(:disabled) {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

/* Laps section */
.laps-container {
    text-align: left;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 15px;
    padding-right: 5px;
}

.laps-container h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

#laps {
    list-style: none;
}

#laps li {
    background: rgba(255,255,255,0.15);
    margin: 5px 0;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 14px;
}
